:root {
    --accent-color: #10C9C3;
    --primary-color: #212529;
    --mid-color: #f9f9f9;
    --light-bg: #eeeeee;
    --light-color: #ffffff;
    --heading-size: 32px;
    --text-size: 16px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

.container {
    width: 94%;
    height: 100%;
    max-width: 1600px;
    margin: auto;
}

.main {
    height: 100vh;
    background: url("https://irinazorg.github.io/piroll/img/bg__lead.jpg") no-repeat center center / cover;
}

.main_wrap {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
}

.main_block {
    width: 50%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2em;
}

.main_heading {
    font-weight: 500;
    font-size: var(--heading-size);
    color: var(--primary-color);
}

.main_text {
    width: 90%;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-size: var(--text-size);
}

.main_button {
    padding: 16px 42px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
    background: var(--accent-color);
    border: none;
    color: var(--light-color);
    border-radius: 4px;
}

.about {
    padding: 100px 0;
}

.about_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

.about_heading {
    font-weight: 500;
    font-size: var(--heading-size);
}

.about_text {
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    line-height: 1.5;
    max-width: 400px;
    font-size: var(--text-size);
}

.about_img {
    width: 200px;
}

.about_img>img {
    width: 100%;
}
.skills {
    background: var(--mid-color);
}
.skills_wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.skills_left {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.skills_heading {
    text-transform: capitalize;
    font-size: var(--heading-size);
    font-weight: 500;
}
.skills_block {
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.skills_item {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.skills_title {
display: flex;
gap: 2em;
}
.skills_text {
    font-size: 12px;
    font-weight: 500;
}
.skills_percent {
    font-size: 12px;
    font-weight: 500;
}
.skills_line {
    width: 90%;
    height: 3px;
    background: var(--light-bg);
}
.skills_level {
    width: 75%;
    background: var(--accent-color);
    height: 100%;
}
#line75 {
    width: 75%;
}
#line90 {
    width: 90%;
}
#line65 {
    width: 65%;
}
.skills_right {
    background: url("https://irinazorg.github.io/piroll/img/skills_bg.jpg") no-repeat right center / cover;
}